.footer{
    margin-top: 20px;
}
.footer .text-uppercase{
    border-bottom: 5px solid rgba(176, 39, 39, 0.929);
}
.footer a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
.footer ul li{
    padding-top: 5px;

}
.footer ul li:hover{
    border:2px solid white;
    background-color: #ddd;
    color: #000;
    border-radius: 6px;
  
}
.footer ul li a:hover{
    color: #000;
    font-weight: bold;
}
.footer .copyright{
    font-size: 20px;
}